<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/index.css">
  </head>
  <body>
    <%- include('header') %>
    <section class="messages-section">
      <ul class="messages">
        <% messages.forEach((message) => { %>
          <li class="message">
            <a href="/messages/<%= message.id %>">
              <h2><%= message.user %></h2>
              <p class="message-text"><%= message.text %></p>
              <p class="date-added"><%= message.added %></p>
            </a>
          </li>
        <% }) %>
      </ul>
    </section>
  </body>
</html>